<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjjs.oasystem.mapper.ItemMapper">
    <insert id="insertItemList">
        insert into item (id, createby, createtime, updatetime, projectid) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.createBy},#{item.createTime},#{item.updateTime},#{item.projectId})
        </foreach>
    </insert>

    <update id="updateItemBo">
        update item set
        <if test="item.createBy!=null">
            createby=#{item.createBy},
        </if>
        <if test="item.projectId!=null">
            projectid=#{item.projectId},
        </if>
        <if test="item.createTime!=null">
            createTime=#{item.createTime},
        </if>
        <if test="item.updateTime!=null">
            updateTime=#{item.updateTime},
        </if>
        id=#{item.id}
        where id=#{item.id}
    </update>


    <select id="getLastId" resultType="java.lang.Integer">
        select si.id
        from item si
        order by id desc
            limit 1
    </select>


</mapper>