server:
  port: 9999

spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql:///oasystem

  redis:
    port: 6379
    host: localhost

logging:
  level:
    com.sjjs.oasysyem: debug


